<table align='center' , border="1" >
  <tr>
    <td><%= link_to "Add Employee", controller: "employee" , action: "emp_add" %></td>
    <td><%= link_to "Search Employee", controller: "employee" , action: "search" %></td>
    <td><%= link_to "Home", controller: "employee" , action: "emp_home" %></td>
  </tr>
</table>
