<h2 align='center'>Emplooye Search</h2>
<%= form_for @employee,url:{action: 'emp_search' } do |f| %>
<table align='center'>
  <tr>
    <td>Name :- </td>
    <td><%= f.text_field :emp_name %></td>
    <td><%= f.submit("Search") %></td>
  </tr>
</table>
<% end %>
