<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 align='center'>Employee Delete Page</h1>
    <%= form_for :employee,url:{action: 'employee_delete'},method: :get do |f| %>
    <table align='center' border="0.5">
    <tr>
      <td>Employee Email Id</td>
      <td><%= f.text_field :email_id %></td>
    </tr>
    <tr colspan='2'>
      <td><%= f.submit("Delete") %></td>
    </tr>
    </table>
    <% end %>
  </body>
</html>
