<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 align='center'>Employe Home Page</h1>
    <br><br>
    <table align='center' border="1">
      <tr>
        <td><h2><a href="/employee/emp_add">Add New Employee</a></h2></td>
        <td><h2><a href="http://localhost:2107/employee/edit_page">Edit Employee</a></h2></td>
        <td><h2><a href="http://localhost:2107/employee/search">Search Employee</a></h2></td>
        <td><h2><a href="http://localhost:2107/employee/delete_page">Delete Employee</a></h2></td>
      </tr>
    </table>
  </body>
</html>
