<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Employee Update Successfully</h1>
    <%= link_to "Home",controller: "employee",action: "emp_home" %>

  </body>
</html>
